
.vs/ProjectSettings.json
.vs/C-Sparp-public/FileContentIndex/c8cc810d-299c-4507-907e-34eda8ab0d0b.vsidx
.vs/C-Sparp-public/FileContentIndex/read.lock
.vs/C-Sparp-public/v17/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
ConsoleApp2/.vs/ConsoleApp2/DesignTimeBuild/.dtbcache.v2
ConsoleApp2/.vs/ConsoleApp2/FileContentIndex/6427da0d-80da-483d-8a17-9c7da521efb4.vsidx
ConsoleApp2/.vs/ConsoleApp2/FileContentIndex/f89a4449-685f-4aed-8ad8-d567966f7d7a.vsidx
ConsoleApp2/.vs/ConsoleApp2/FileContentIndex/9f92a34b-ac1c-45b2-b606-05597840d2a0.vsidx
ConsoleApp2/.vs/ConsoleApp2/FileContentIndex/be1e8d00-3be2-4724-bbc7-0c2ed7b3237c.vsidx
ConsoleApp2/.vs/ConsoleApp2/FileContentIndex/merges/f0e4d346-840d-4ea3-8170-a80a80d19268.vsidx
ConsoleApp2/.vs/ConsoleApp2/v17/.suo
ConsoleApp2/.vs/ConsoleApp2/v17/.futdcache.v1
ConsoleApp2/.vs/ConsoleApp2/v16/.suo
ConsoleApp2/.vs/ConsoleApp2/FileContentIndex/read.lock
ConsoleApp2/.vs/ProjectEvaluation/consoleapp2.metadata.v2
ConsoleApp2/.vs/ProjectEvaluation/consoleapp2.projects.v2
ConsoleApp2/.vs/ProjectSettings.json
ConsoleApp2/.vs/slnx.sqlite
ConsoleApp2/.vs/VSWorkspaceState.json
ConsoleApp2/.vs/ConsoleApp2/FileContentIndex/3dbae615-0815-404e-ba1f-cfcc610ac25e.vsidx
ConsoleApp2/.vs/ConsoleApp2/FileContentIndex/038a7879-22e0-4096-b182-4604984d6967.vsidx
/ConsoleApp2/.vs/ConsoleApp2/FileContentIndex
/.vs/C-Sparp-public
